form{
    //background-color: lavender;
    width: 250px;

    label{
        font-size: 14px;
        font-weight: 600;
    }

    input{
        padding: 8px;
        font-family: inherit;
        width: 250px - 17px;
    }

    button{
        padding: 10px;
        width: 100%;
        font-family: inherit;
        color: white;
        background: black;
        border: none;
    }
}