.featuredproducts{
    margin: 100px 30px 100px 80px;

    .top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 50px;
        gap: 20px;

        h1{
            flex: 1;
            text-transform: uppercase;
        }
        .bottom{
            display: flex;
            justify-content: center;
            gap: 50px;
            flex: 3;
            color: gray;
        }
    }

    .bottom{
        display: flex;
        justify-content: center;
        gap: 50px;
    }
}